<a href="#sponsor-modal-<%= sponsor.name %>" class="open-sponsor-modal">
  <figure class="ma0 bg-white ba b--black-10 pa4">
    <div class="aspect-ratio aspect-ratio--16x9">
      <div class="aspect-ratio--object contain bg-center" style="background-image: url(images/sponsors/<%= sponsor.logo %>);"></div>
    </div>
  </figure>
</a>
<div id="sponsor-modal-<%= sponsor.name %>" class="modal-hider">
  <a class="close-sponsor-modal bg-transparent absolute top-0 right-0 ma2 w2">
    <svg fill="#222" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24" x="0px" y="0px"><path d="M20.827 4.357l-0.707-0.707-8.131 8.132-8.132-8.132-0.707 0.707 8.132 8.132-8.132 8.132 0.707 0.707 8.132-8.132 8.131 8.132 0.707-0.707-8.131-8.132z"/></svg>
  </a>
  <div class="pa3 pa4-l bg-white measure-wide">
    <img class="w4 db center mb4" src="images/sponsors/<%= sponsor.logo %>" alt="">
    <div class="lh-copy">
      <a class="link dark-pink db" href="<%= sponsor.website %>" target="_blank"><%= sponsor.website %></a>
      <p class="f5 mt1 mb0"><%= sponsor.blurb %></p>
    </div>
  </div>
</div>
