---
title: GORUCO 2017
---

<%= partial 'partials/sections/overlay-menu' %>
<%= partial 'partials/sections/hero' %>
<%#  partial 'partials/sections/schedule' %>
<%= partial 'partials/sections/about' %>
<%= partial 'partials/sections/speakers' %>
<%= partial 'partials/sections/sponsors' %>
<%= partial 'partials/sections/location' %>
<%# partial 'partials/sections/scholarship' %>
<%= partial 'partials/sections/background' %>
<%= partial 'partials/sections/organizers' %>
<%= partial 'partials/footer' %>
<%= javascript_include_tag "site" %>
<div class="modal">
  <div class="modal-inner">
    <div class="modal-content"></div>
  </div>
</div>
